@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        background-image: url("assets/image/bg.webp");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }
}